{{#link-to "index"}}Index{{/link-to}}

<h1>Welcome to Ember</h1>

{{outlet}}

<nav>
    {{#link-to "about"}}About{{/link-to}}
    {{#link-to "hello"}}Hello{{/link-to}}
    {{#link-to "favorites"}}Favorites{{/link-to}}
    {{#link-to "test"}}Test{{/link-to}}
    {{#link-to "photos"}}Photo{{/link-to}}
</nav>
